@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DiscussionService.ViewModels.QuestionsViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="nav d-flex bg-dark bg-gradient sticky-top align-items-end">
        <div class="p-2 mx-3">
            <h1 class="text-info text-end">ManasForum</h1>
        </div>
        <div class="flex-fill">
        @using (Html.BeginForm("FindQuestions", "Home", FormMethod.Post))
        {
        <div class="d-flex flex-fill">
            <div class="d-flex align-items-end w-50 mx-auto flex-fill" >
                <div class="input-group m-1 mx-5 w-100">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="d-flex align-items-end flex-row-reverse">
                <a class="btn btn-outline-warning m-1" role="button" asp-controller="User" asp-action="LogOut">Log out</a>
                <a class="btn btn-outline-success m-1 fw-bold" onclick="ToggleForm()" role="button">Ask a question</a>
            </div>
        </div>
        }
        </div>
    </nav>

    <nav class="float-start nav align-items-center flex-column bg-dark bg-gradient me-1" style="width: 15%; height: 2000px;">
       <div class="position-fixed">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-action="Index">Main Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="MyQuestions">My Questions</a>
            </li>
        </div>
    </nav>
    @using (Html.BeginForm("AddQuestion", "Home", FormMethod.Post))
    {
        <div id="QuestionForm" style="display: none">
            <div class="d-flex flex-column justify-content-around">
                <div class="m-3 w-75">
                    <label for="QuestionTitle" class="form-label">Question Title:</label>
                    <textarea name="questionTitle" class="form-control" rows="2" id="QuestionTitle"></textarea>
                </div>

                <div class="m-3 w-75">
                    <label for="QuestionDescription" class="form-label">Question Description:</label>
                    <textarea name="questionDescription" class="form-control" rows="10" id="QuestionDescription"></textarea>
                </div>
                <button type="submit" asp-action="AddQuestion" class="btn btn-primary w-25 m-3">Post it</button>
                <hr>
            </div>
        </div>
    }
@foreach (var item in Model)
{
    <div class="card m-2 px-3 border border-dark">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Question" asp-route-id="@item.Question.Id">@item.Question.Title</a></h5>
            <hr>
            <p class="card-text">@item.Question.Description</p>
            <hr>
            <div class="flex-raw">
                <a href="#" class="card-link">Answers <span class="badge bg-info">@item.AnswersCount</span></a>
                <a href="#" class="card-link">Views <span class="badge bg-info">@item.Question.Views</span></a>
                <div class="flex-raw float-end">
                    <p class="small text-muted">Data of Publish: @item.Question.PublicationDate <br> Author: @item.AuthorFullname/Computer Science/3-year</p>
                </div>
            </div>
        </div>
    </div>
}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function (page) {
            function loadPopularQuestions()
            {
                $.ajax({url: `https://localhost:7190/PopularQuestions`, success: function(result){
                    console.log(result);
                }});
            };
            
            loadPopularQuestions()
        })
       function ToggleForm(){
            var x = document.getElementById("QuestionForm");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>
</html>